#clockdiv {
  text-align: center;
}

#clockdiv li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#clockdiv li span {
  display: block;
  font-size: 4.5rem;
}