#selector ul {
    list-style: none;
}

#selector h3 {
    margin: 0;
    padding: 0;
}

#selector p {
  font-size: .8em;
}

#selector .cf:before,
#selector .cf:after {
    content: " ";
    display: table;
}

#selector .cf:after {
    clear: both;
}

#selector ul.main {
    list-style: none;
    max-width: 75%;
    margin: 20px auto;
}

#selector h3 {
    padding: 0;
    margin: 0;
}

#selector .date {
    width: 17%;
    padding: 15% 1% 0 0;
    float: left;
}

#selector .date h3 {
    font-size: 1.5em;
}

#selector .events {
    float: left;
    width: 80%;
    border-left: 1px solid #ccc;
    margin-top: 10%;
    padding-top: 3%;
}

#selector .events-detail {
    max-width: 550px;
}

#selector .events-detail li {
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    line-height: 22px;
    transition: ease .4s all;
}

#selector .events-detail li:hover {
    background: #e9e9e9;
}

#selector .event-time {
    font-weight: 900;
}

#selector .events-detail li a {
    text-decoration: none;
    color: #444;
    width: 100%;
    height: 100%;
    display: block;
}

@media all and (max-width: 766px) {
    #selector .date {
        width: 100%;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    
    #selector .events {
        border: none;
        width: 100%;
        margin-top: 0;
    }
    
    #selector .events-detail {
        padding: 0;
    }
}
/* ------------------- Table Styles ----------------------- */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #fff;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
  width: 11.11%;
}
#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}
